*
!.gitignore
!cardgate
!plugins
plugins/*
!plugins/cardgate
!plugins/cardgateafterpay
!plugins/cardgatebancontact
!plugins/cardgatebanktransfer
!plugins/cardgatebillink
!plugins/cardgatebitcoin
!plugins/cardgatecreditcard
!plugins/cardgatedirectdebit
!plugins/cardgategiftcard
!plugins/cardgategiropay
!plugins/cardgateideal
!plugins/cardgateidealqr
!plugins/cardgateklarna
!plugins/cardgatepaypal
!plugins/cardgatepaysafecard
!plugins/cardgatepaysafecash
!plugins/cardgateprzlewy24
!plugins/cardgatesofortbanking
!templates
templates/*
!templates/xt_default
templates/xt_default/*
!templates/xt_default/xtCore
templates/xt_default/xtCore/*
!templates/xt_default/xtCore/pages
templates/xt_default/xtCore/pages/*
!templates/xt_default/xtCore/pages/cardgate_checkout.html
!templates/xt_default/xtCore/pages/checkout
templates/xt_default/xtCore/pages/checkout/*
!templates/xt_default/xtCore/pages/checkout/subpage_cardgate_cancel.html
!templates/xt_default/xtCore/pages/checkout/subpage_cardgate_failure.html
!templates/xt_default/xtCore/pages/checkout/subpage_cardgate_pending.html
!templates/xt_default/xtCore/pages/checkout/subpage_cardgate_success.html
!templates/xt_grid
templates/xt_grid/*
!templates/xt_grid/xtCore
templates/xt_grid/xtCore/*
!templates/xt_grid/xtCore/pages
templates/xt_grid/xtCore/pages/*
!templates/xt_grid/xtCore/pages/cardgate_checkout.html
!templates/xt_grid/xtCore/pages/checkout
templates/xt_grid/xtCore/pages/checkout/*
!templates/xt_grid/xtCore/pages/checkout/subpage_cardgate_cancel.html
!templates/xt_grid/xtCore/pages/checkout/subpage_cardgate_failure.html
!templates/xt_grid/xtCore/pages/checkout/subpage_cardgate_pending.html
!templates/xt_grid/xtCore/pages/checkout/subpage_cardgate_success.html
!templates/xt_mobile
templates/xt_mobile/*
!templates/xt_mobile/plugins
templates/xt_mobile/plugins/*
!templates/xt_mobile/plugins/cardgateafterpay
!templates/xt_mobile/plugins/cardgatebancontact
!templates/xt_mobile/plugins/cardgatebanktransfer
!templates/xt_mobile/plugins/cardgatebitcoin
!templates/xt_mobile/plugins/cardgatecreditcard
!templates/xt_mobile/plugins/cardgatedirectdebit
!templates/xt_mobile/plugins/cardgategiropay
!templates/xt_mobile/plugins/cardgateideal
!templates/xt_mobile/plugins/cardgateklarna
!templates/xt_mobile/plugins/cardgatepaypal
!templates/xt_mobile/plugins/cardgatepaysafecard
!templates/xt_mobile/plugins/cardgateprzelewy24
!templates/xt_mobile/plugins/cardgatesofortbanking
!templates/xt_responsive
templates/xt_responsive/*
!templates/xt_responsive/xtCore
templates/xt_responsive/xtCore/*
!templates/xt_responsive/xtCore/pages
templates/xt_responsive/xtCore/pages/*
!templates/xt_responsive/xtCore/pages/cardgate_checkout.html
!templates/xt_responsive/xtCore/pages/checkout
templates/xt_responsive/xtCore/pages/checkout/*
!templates/xt_responsive/xtCore/pages/checkout/subpage_cardgate_cancel.html
!templates/xt_responsive/xtCore/pages/checkout/subpage_cardgate_failure.html
!templates/xt_responsive/xtCore/pages/checkout/subpage_cardgate_pending.html
!templates/xt_responsive/xtCore/pages/checkout/subpage_cardgate_success.html
!README.md
!README_DE.md
!README_NL.md
